<div *ngIf="searchResult; else elseBlock">
  <h3 class="total">Total Results: {{searchResult.total_count}}</h3>
  <ul class="list">
    <li [ngStyle]="{'background-color':(i%2 === 0)?'silver':'white'}" *ngFor="let result of searchResult.items; index as i" class="list_item">
      <a [href]="result.html_url">
        <img [src]="result.owner.avatar_url" class="avatar">
        <h4 class="title">
          <small>by {{result.owner.login | uppercase}}</small>
        </h4>
      </a>
      <p class="description">{{result.description}}</p>
      <p>Created On: {{result.created_at | date:'fullDate'}}</p>
    </li>
  </ul>
</div>
<ng-template #elseBlock>Loading...</ng-template>